.custom-font-features {
  font-feature-settings: 'clig' off, 'liga' off;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-22px {
    font-size: 22px;
  }
}

.custom-typography {
  font-feature-settings: 'clig' off, 'liga' off;
  text-align: center;
}
